// .wrapper {
//     height: 392px;
//     max-width: 316px;
// }

// .header {
//     position: relative;
//     height: 50px;
//     background-color: #ccc;
// }




.wrapper {
    max-height: 250px;
    max-width: 150px;
    margin: 0px 30px;
}

.header {
    position: relative;
    height: 150px;
    background-color: #ccc;
}

// .cardImage {
//     max-width: 316px;
//     height: 350px;
//     border-radius: var(--radiusbig);

//     @media screen and (max-width: 1000px) {
//         width: 225px;
//     }

//     @media screen and (max-width: 768px) {
//         width: 354px;
//     }

//     @media screen and (max-width: 480px) {
//         width: 210px;
//         height: 257px;
//     }

//     @media screen and (max-width: 360px) {
//         width: 320px;
//         height: 220px;
//     }
// }

// .info {
//     font-family: Montserrat;
//     font-size: 20px;
//     font-weight: 500;
//     line-height: 26px;
//     padding: 10px;
//     border-top: 1px solid lightgray;
//     text-align: center;

//     @media screen and (max-width:480px) {
//         font-size: 18px;
//         line-height: 23.4px;
//     }

// }

// .title {
//     max-width: 100%;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     overflow: hidden;
//   }

.cardImage {
    width: 248px;
    height: 350px;
    border-radius: var(--radiusbig);
}

.info {
    padding: 10px;
    border-top: 1px solid lightgray;
}

// .description 
.title {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}